<ion-header>
  <ion-navbar color="primary">

    <ion-title style="text-align:center">
    <img style="width: 38%;"src="assets/petbuddy.png" />
    </ion-title>
  </ion-navbar>

  <!--La barra de ofertas -->
   <ion-segment [(ngModel)]="deal">
      <ion-segment-button value="ofertas">
        Actuales 
      </ion-segment-button>
      <ion-segment-button value="personalizadas">
        Historial
      </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content class="card-background-page">

<!---
  <ion-fab right bottom>
    <button [navPush]="scanProduct" ion-fab color="primary"><ion-icon name="camera"></ion-icon></button>
  </ion-fab>-->
  
  <div [ngSwitch]="deal">
  <ion-list *ngSwitchCase="'ofertas'">
    <div *ngIf="ofertas ==false" >
      <h1  style="color:white">¿Vas a dejarlo solo?</h1>
      <h4  style="color:white" >¡Deja que alguien de confianza cuide de tu mascota!</h4>
      <div id="containerbotones">
        <button (click)="navegarPublicar();" class="botoneshome" ion-button >Publicar</button> 
        <button (click)="navegarBuscar();" class="botoneshome" id="botonbuscar" ion-button>Buscar</button>
      </div>
    </div>

    <div *ngIf="ofertas ==true" >
      <ion-card (click)="irachat()">
        <ion-item>
          <ion-avatar item-left padding-left>
            <img [src]="'assets/img/perfil.jpg'">
          </ion-avatar>
          <h2>Cuidador de gato para el lunes</h2>
          <p>Pablo Mac</p>
          <p>16:23</p>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-avatar item-left padding-left>
            <img [src]="'assets/img/retrato.jpg'">
          </ion-avatar>
          <h2>Alguien que cuide a mi perra Dana</h2>
          <p>Cristian Gálvez</p>
          <p>8:10</p>
        </ion-item>
      </ion-card>

            <ion-card>
        <ion-item>
          <ion-avatar item-left padding-left>
            <img [src]="'assets/img/retrato2.jpg'">
          </ion-avatar>
          <h2>Necesito cuidador de loro</h2>
          <p>Fran Serrano</p>
          <p>17:03</p>
        </ion-item>
      </ion-card>

    </div>
         <ion-fab right bottom>
         <button (click)="toogle();" ion-fab mini  color="primary"><ion-icon name="switch"></ion-icon></button>
    </ion-fab>
  </ion-list>

  <ion-list *ngSwitchCase="'personalizadas'">
    <div *ngIf="historial" >
      <h2  style="color:white">No tienes actividad reciente</h2>
    </div>

    <div *ngIf="!historial" >
      <ion-card>
        <ion-item>
          <ion-avatar item-left padding-left>
            <img [src]="'assets/img/retrato2.jpg'">
          </ion-avatar>
          <h2>Emilio Maestre</h2>
          <p>Marzo 10, 2016</p>
        </ion-item>
        
        <ion-card-content>
          <p>Buenas, estoy buscando a alguien que cuide a mi pastor alemán. Se llama Coba y es muy agradable.</p>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button  style="float:right;" ion-button clear small>
              <div>14€</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-avatar item-left padding-left>
            <img [src]="'assets/img/perfil.jpg'">
          </ion-avatar>
          <h2>Pablo López</h2>
          <p>Marzo 8, 2016</p>
        </ion-item>
        
        <ion-card-content>
          <p>Hola necesito que algún cuidador se haga cargo de mi loro este lunes. Muy bien remunerado</p>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button  style="float:right;" ion-button clear small>
              <div>23€</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

  </ion-list>
  </div>



</ion-content>

